<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
    <title>Favourite Things</title>
</head>
<body>
    <h1>Post-Apocalyptical Favourite Things</h1>
    <section class="heroSection">
        <p>The three of my favourite things to be in possession of at the next cataclysmic event, be it caused by zombies, androids or penguins.</p>
    </section>
    <main>
        {{{ body }}}
    </main>
    <footer>
    </footer>
</body>
</html>