<div class="modelPage">
    {{#each data}}
            <div class="modelsCon">
                <div class="row1">
                    <img src="images/{{ Old }}.jpeg" alt="item model">
                    <img src="images/{{ New }}.jpeg" alt="item model">
                </div>
                <div class="row2">
                <img src="images/{{ Current }}.jpeg" alt="item model">
                </div>
            </div>
    {{/each}}
</div>